.LoadButton {
    color: #eeeeee;
    border: 0;
    padding: 14px 44px;
    background-color: #222831;
    font-size: 17px;
    font-weight: 500;
    transition: .2s;
}

.LoadButton:hover {
    color: #00adb5;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}