.MovieCard {
    height: 350px;
    width: 234px;
    position: relative;
}

.MovieCard img {
    height: 100%;
    width: 100%;
}
.MovieCard .vote{
    position: absolute;
    background-color: rgba(0,173,181, .8);
    width: 70px;
    height: 40px;
    top: -10px;
    right: -10px;
    color: #eeeeee;
    display: grid;
    place-items: center;
    font-size: 28px;
}

.MovieCard .year{
    color: #eeeeee;
    font-size: 13px;
    margin-top: 5px;
}