.Searchbar {
    display: flex;
}

.Searchbar button[type="submit"] {
    background: #393e46;
    border: 0;
    color: #00adb5;
    font-size: 21px;
    font-weight: 500;
    transition: all .2s;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.Searchbar input[type="text"] {
    background: #393e46;
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    height: 40px;
    border: 0;
    width: 220px;
    color: #00adb5;
}

.Searchbar input[type="text"]::placeholder{
    color: #eeeeee;
}

.Searchbar input, button:focus{
    outline: none;
}